doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Place Order
    link(rel="stylesheet", href="/css/main.css")

  body
    nav
      ul
        li: a(href="/about") About Us
        li: a(href="/admin/orders") Orders (admin only)
        li: a(href="/order") Place Order

    h1 400: Failure
