body {
    margin: 0;
    font-family: 'Georgia', serif; 
    background-color: #66d8ec;
    color: #222;
}

/* Navigation bar styling */
nav {
    background-color: #545203; 
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* pushing links to the right */
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #2e2b7c;
}

nav ul li a:hover {
    background-color: #106704;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
    font-family: 'Sofia', serif;
}

strong {
    color: #352136;
}
em {
    color: #b01717; 
}

div img {
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.about img {
    width: 40%;
    border-radius: 10px;
}

.about-description {
    width: 40%;
    background-color: #fcdfdf;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.team-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 30px;
}

.team-member {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* rounding images */
    object-fit: cover;
}
.tracking-status {
    text-align: center;
    font-size: 1.5em;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #2e2b7c;
    border-radius: 10px;
    width: 60%;
    background-color: #d7c6d6;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.details {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    background-color: #f2e2e2;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.details table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

/* Orders Page */
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

form input[type="text"],
form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #a5a4a4;
}

form input[type="submit"],
button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #1f8362;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #155a44;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
    background-color: #bbbaba;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ffffff;
}

th {
    background-color: #1f8362;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

.order {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding: 20px;
    gap: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    font-family:Arial, Helvetica, sans-serif;
    height: auto;
    justify-self:center
}

.prefill {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    font-weight: bold;
}

.product select{
    display: flex;
    justify-content: stretch;
}

#clock {
    background-color: white;
    width:fit-content;
    padding: 1%;
}

#quantityContainer {
    display:none;
}

.shipping-items {
    padding: 5px;
}

.forms{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form1{
    display:flex;
    flex-direction: column;
    justify-self: flex-start;
    background-color: white;
    border-radius: 10px;
}

.form2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    min-width: 40%;
    border-radius: 10px;
}

.order-management{
    justify-items: center;
    border-radius: 10px;
    background-color: rgb(211, 255, 234);
    padding: 5%;
    width: 50%;
    margin-top: 10px;
}

.canup-buttons {
    padding: 5%;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 10px;
}

.delivery-address {
    padding-top: 5%;
}

.shipping-speed {
    padding-top: 5%;
}

.success {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#track-button2 {
    color: white;
    width: auto;
}

.update-shipping {
    display: none;
}
#countdown {
    display: inline-block;
    min-width: 5ch; 
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.success2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 60%; 
    margin: 0 auto; 
    background-color: lightgreen;
    border: 4px black;
    border-radius: 8px;
    padding-bottom: 5px;
}

.success2 p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
    font-family:monospace
}

.success2 p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: bold;
}